@mixin rootHeader ($vh) {
	position: absolute;
	left: 0;
	top: 9vh;
	height: 10vh;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: $vh;
}

@media (min-width: 768px) {
	.rootHeader {
		@include rootHeader(4vh);
		border-left: 4px solid;
		border-image-source: linear-gradient(to bottom, #3877EE, #EF5DA8);
		border-image-slice: 1;

		.rootHeaderText {
			display: block;
			color: #42567A;
			margin-left: 7%;
		}
	}
}

@media (max-width: 768px) {
	.rootHeader {
		@include rootHeader(3vh);

		.rootHeaderText {
			display: block;
			color: #42567A;
			margin-left: 7%;
		}
	}
}