@mixin notesPanelProps ($position, $top, $width, $left, $color) {
	position: $position;
	top: $top;
	width: $width;
	left: $left;
	background-color: $color;
}

@media (min-width: 768px) {
	.notes-panel {
		@include notesPanelProps(absolute, 73vh, 90%, 5%, #fff);

		.note {
			padding: 20px;
			color: #42567A;
		}
		
		.year {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
			color: #3877EE;
		}
		
		.text {
			font-size: 16px;
			color: #666;
		}
		
		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 5px;
			cursor: pointer;
			border: 0.5px solid gray;
			background-color: white;
			border-radius: 50%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			z-index: 1;
		}
		
		.swiper-button-prev {
			left: -20px;
		}
		
		.swiper-button-next {
			right: -40px;
		}
		
		.swiper-button-prev.disabled,
		.swiper-button-next.disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
}

@media (max-width: 768px) {
	.notes-panel {
		border-top: 1px solid lightgray;
		@include notesPanelProps(absolute, 45vh, 92%, 4%, #fff);

		.note {
			padding: 20px;
			color: #42567A;
		}
		
		.year {
			font-weight: bold;
			font-size: 7vw;
			margin-bottom: 10px;
			color: #3877EE;
		}
		
		.text {
			font-size: 4vw;
			color: #666;
		}
		
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}