@media (min-width: 768px) {
	@mixin rootBlockSel ($top, $left, $width, $height, $translate) {
		top: $top;
		left: $left;
		width: $width;
		height: $height;
		transform: $translate(-50%);
	}

	.rootBlock {
		position: absolute;
		left: 13%;
		width: 79%;
		height: 100vh;
		border: 1px solid lightgray;
		
		.hidden {
			opacity: 0;
			transition: opacity 0.5s;
		}

		.notes-panel, .circleDates, .switcherContainer {
			transition: opacity 0.5s;
		}
	}

	.rootBlock::before,
	.rootBlock::after {
		content: "";
		position: absolute;
		background-color: lightgray;
	}

	.rootBlock::before {
		@include rootBlockSel(50%, 0, 100%, 1px, translateY);
	}
	
	.rootBlock::after {
		@include rootBlockSel(0, 50%, 1px, 100%, translateX);
	}
}

@media (max-width: 768px) {
	.rootBlock {
		position: absolute;
		width: 100%;
		height: 100vh;

		.hidden {
			opacity: 0;
			transition: opacity 0.5s;
		}
	
		.notes-panel, .circleDates, .switcherContainer {
			transition: opacity 0.5s;
		}
	}
}


