.rootBlock {
  position: absolute;
  left: 13%;
  width: 79%;
  height: 100vh;
  border: 1px solid lightgray;
}

.rootBlock::before,
.rootBlock::after {
  content: "";
  position: absolute;
  background-color: lightgray;
}

.rootBlock::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}

.rootBlock::after {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 330px;
  height: 330px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 50%;
	transition: transform 0.5s ease;
}

.point {
  position: absolute;
  width: 5px;
  height: 5px;
	font-size: 0px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--angle)) translate(165px);
  display: flex;
  justify-content: center;
  align-items: center;
	transition: all 0.1s ease;
}

.point.active {
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid black;
}

.point-text {
  color: black;
  display: flex;
}

.circleLabel {
  position: absolute;
  top: 32%;
  left: 68%;
  transform: translate(-50%, -50%);
  font-size: 24px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 2vh;
	color: #42567A;
}

.rootHeader {
	position: absolute;
	left: 0;
	top: 9vh;
	height: 10vh;
	border-left: 4px solid;
  border-image-source: linear-gradient(to bottom, #3877EE, #EF5DA8);
  border-image-slice: 1;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 4vh;
}

.rootHeaderText {
	display: block;
	color: #42567A;
	margin-left: 7%;
}

.switcherContainer {
	position: absolute;
	bottom: 37vh;
	left: 3%;
	width: 10%;
}

.switcherPageNumbers {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2.2vh;
	color: #42567A;
	font-weight: 400;
	margin-left: 25%;
}

.switcherButtons {
	display: block;
	border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

.switcherPrev, .switcherNext {
  border: 0.5px solid gray;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.switcherPrev {
	margin-right: 10%;
}

.switcherPrev:hover, .switcherNext:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.switcherPrev:disabled, .switcherNext:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}